.DS_Store
node_modules

# Configs
wp-config.php
wp-cli*

# Uploaded
/wp/media
/wp/wp-content/uploads/*
/wp/wp-content/backup*
/wp/wp-content/gallery/*
/wp/wp-content/ngg_styles

# ignore the symlink to the theme
/theme